/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/

:root {
  --link-color: var(--primary);
  --link-hover-color: #0071eb;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #0071eb;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);

  --entry: #fbf7ef;
  --primary: rgba(113, 103, 91, 1.00);
  --secondary: rgba(113, 103, 91, 0.95);
  --tertiary: rgba(113, 103, 91, 0.50);
  --content: rgba(113, 103, 91, 0.85);
  --hljs-bg: #34231B;
  --code-bg: #ebe4d7;
  --border: #fdfaf5;
  --theme: #fbf7ef;
}

.dark {
  --link-color: var(--primary);
  --link-hover-color: #589df6;
  --link-underline-shadow: 0 1px 0 var(--link-color);
  --link-hover-underline-color: #589df6;
  --link-hover-underline-shadow: 0 2px 0 var(--link-hover-underline-color);
}

.entry-content {
    -webkit-line-clamp: 4;
}

.entry-footer {
	text-align: right;
}

.entry-cover {
    margin-bottom: initial;
    text-align: center;
}

.entry-cover img {
    border-radius: 4px;
    display: inline;
    max-width: 100%;
}

.post-meta {
    display: block;
    text-align: right;
}