{{- define "main" }}
{{- $isNewsletter := eq .Type "newsletter" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}

    {{- if $isNewsletter -}}
      <a class="newsletter-brand" href="{{ .Parent.Permalink }}">
        <div class="icon">＠</div>
        <div class="name">{{ .Param "newsletterName" }}</div>
        <div class="issueno">#{{ .Param "issueno" }}</div>
        <div class="arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
        </div>
      </a>
    {{- end -}}
    <h1 class="post-title">
      {{- if $isNewsletter -}}
        {{- replace .Title (.Param "titlePrefix") (.Param "titlePrefixReplace") -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
      {{- if .Draft -}}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{- .Description -}}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
      {{- partial "post_meta.html" . -}}
      {{/* TODO move to footer */}}
      {{/* partial "edit_post.html" . */}}
      {{/* partial "post_canonical.html" . */}}
    </div>
    {{- end }}
  </header>
  {{- $isHidden := .Params.cover.hidden | default site.Params.cover.hiddenInSingle | default site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if (.Param "socialLinks") }}
    {{- partial "social_links.html" . }}
    {{- end }}

    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
  </footer>

  {{- if not (.Param "noComments") }}
    {{- partial "comments.html" . }}
  {{- end }}
</article>

{{- end }}{{/* end main */}}
