<div class="social-icons">
    {{- range .icons }}
    {{- $icon_name := ( trim .name " " | lower )}}

    {{- if (eq .url "email") }}
    <a href="mailto:{{ $.MaskedEmail | default $.Email }}" title="{{ .name | title }}">
        {{ safeHTML (index $.svg $icon_name | default $.svg.default) }}
    </a>
    {{- else }}
    <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me" title="{{ .name | title }}">
        {{ safeHTML (index $.svg $icon_name | default $.svg.default) }}
    </a>
    {{- end }}

    {{- end }}
</div>
