<div class="tweet social-quote">
  <div class="title">
    {{ safeHTML (index site.Data.svg "twitter-simple") }}
    {{ with .title }}<span>{{ . }}</span>{{ end }}
  </div>

  {{- $dnt := true -}}
  {{- $url := printf "https://twitter.com/%v/status/%v" .user .id -}}
  {{- $query := querify "url" $url "dnt" $dnt -}}
  {{- $request := printf "https://publish.twitter.com/oembed?%s" $query -}}
  {{- $json := getJSON $request -}}
  {{- replaceRE "<script.+/script>" "" $json.html | safeHTML -}}
</div>
